<header class="site-header">

  <a class="site-title" href="{{ site.baseurl | prepend: site.github.url }}/">{{ site.title }}</a>

  <nav class="site-nav">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl | prepend: site.github.url }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
      <small><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.github.url }}">RSS</a></small>
  </nav>

</header>
