/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    padding: 0 $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        display: none;
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 19px $spacing-unit;
    font-size: 15px;
    color: $grey-color;
    text-align: right;
    @extend %clearfix;
}

.nav-list,
.social-media-list {
    list-style: none;
    margin: 0;
}
.nav-list {
    display: none;
}
.social-media-list {
    float: left;
}
.social-media-list li {
    float: left;
    margin-right: $spacing-unit;
}

@include media-query($on-palm) {
    .site-footer {
        text-align: center;
        padding: 19px 0;
    }
    .nav-list {
        display: block;
    }
    .social-media-list {
        float: none;
        margin: 15px 0;
        padding: 15px 0;
        border-top: 1px solid $grey-color-light;
        border-bottom: 1px solid $grey-color-light;
    }
    .social-media-list li {
        float: none;
        margin-right: 0;
    }
    .site-description {
        padding: 0 $spacing-unit;
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin: 0;
    list-style: none;

    > li a {
        display: block;
        padding: $spacing-unit/2;
        border-bottom: 1px solid $grey-color-light;
        border-left: 0px solid $brand-color;
        -webkit-transition: border-left 0.1s, background-color 0.1s, box-shadow 0.1s;
        transition: border-left 0.1s, background-color 0.1s, box-shadow 0.1s;
        
        > h4 {
            margin-bottom: 0;
        }
        
    }
    > li:last-of-type a {
        border-bottom: none;
    }
    > li a.active {
        border-left: 5px solid $brand-color;
        background-color: #f9f9f9;
        -webkit-box-shadow: inset 0px 0px 26px -7px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0px 0px 26px -7px rgba(0,0,0,0.2);
        box-shadow: inset 0px 0px 26px -7px rgba(0,0,0,0.2);
    }
}
@include media-query($on-palm) {
    .post-list > li a.active {
        border-left: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.post-link {
    display: block;
    font-size: 18px;
}
.post-meta {
    font-size: 12px;
    color: $grey-color;
    font-weight: 200;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    .featured_image {
        margin-bottom: 30px;
        border: 1px solid #ccc;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Home page
 */

.home {
    display: flex;
}
.post-list-panel,
.post-panel {
    height: calc(100vh - 123px);
    overflow-y: auto;
}
.post-list-panel {
    width: 300px;
    border-right: 1px solid $grey-color-light;
}
.post-panel {
    flex-shrink: 200;
}
.post-panel article {
    margin: $spacing-unit;
}

@include media-query($on-palm) {
    .home {
        display: block;
    }
    .post-list-panel {
        height: auto;
        width: 100%;
        border-right: none;
    }
    .home .post-panel,
    .single-post .post-list-panel {
        display: none;
    }
}

